<html>


    {% set insult = boxes.insults.all|random %}




    <head>
        <title>Stacy's Swag Shop</title>
    </head>
<style>

body {
    background-color: {{ insult.fields.background_color }};
    }

img {
    height: 50%;
}

</style>
    <body>

        <nav>
            {% for item in navs.main %}
                <a href="{{ item.url }}">{{ item.name }}</a> <br>
            
            {% endfor %}

        </nav>

        {% block body %}



        <br>

        <h4>
            Welcome to Swag nation yo!
        </h4>


        <h2>{{ theme.options.main.header_image.alt_text }}</h2>
        <img src= " {{ theme.options.main.header_image.url }}" />
<br>
<br>

{{ insult.name }}

{% endblock %}

    </body>

</html>